services:
    postgres-exporter:
        image: prometheuscommunity/postgres-exporter
        container_name: postgres_exporter
        environment:
          DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-server:5432/postgres?sslmode=disable"
        depends_on:
          - postgres
        networks:
            - app-network
          
    prometheus:
        image: prom/prometheus
        volumes:
          - ./prometheus.yml:/etc/prometheus/prometheus.yml
        ports:
          - "9090:9090"
        networks:
            - app-network
    grafana:
        image: grafana/grafana
        container_name: grafana
        ports:
          - "3000:3000"
        environment:
          - GF_SECURITY_ADMIN_PASSWORD=admin
        depends_on:
          - prometheus
        networks:
            - app-network
            
    postgres:
        container_name: postgres-server
        command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - 5432:5432
        volumes:
            - postgres-data:/var/lib/postgresql
        image: postgres:18.1
        networks:
            - app-network
volumes:
    postgres-data:
        driver: local

networks:
    app-network:
        driver: bridge