services:
    postgres:
        container_name: postgres-server
        environment:
            - POSTGRES_PASSWORD=ubatuba
        ports:
            - 5432:5432
        volumes:
            - postgres-data:/var/lib/postgresql
        image: postgres:18.1
volumes:
    postgres-data:
        driver: local

networks:
    app-network:
        driver: bridge